*, *::before, *::after {
  background-color: #333 !important;
  border-color: #fff !important;
  color: #fff !important;
}
#wrapper .pieceHeader,
.articleHeader {
  border: 1px solid #fff;
}
#pageTitle h1 {
  background-image: linear-gradient(to bottom, #333, #333) !important;
}
.dot-class > li > button {
  background-color: #b3b3b3 !important;
}
.dot-class > li.slick-active > button {
  background-color: #fff !important;
}
#slide-controll > #startBtn {
  background: url("../../images/ic-play.png") no-repeat 8px center, linear-gradient(to bottom, #333, #333) !important;
}
#slide-controll > #stopBtn {
  padding: 3px 0 2px 20px;
  background: url("../../images/ic-stop.png") no-repeat 8px center, linear-gradient(to bottom, #333, #333) !important;
}
#wrapper div[id^="soshiki"] .pieceHeader  {
  border: none;
}