@charset "UTF-8";

/* =========================================================
   Login.
========================================================= */

html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
body {
  height: 100%;
  font-size: 90%;
  margin: 0px auto;
  padding: 0px;
  background-image: url(./images/bg-login.png);
  font-size: 80%;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", "MS PGothic", "ＭＳ　Ｐゴシック", sans-serif;
  line-height: 1;
}
#container {
  position: relative;
  width: 100%;
  height: 100%;
}
#main {
  position: absolute;
  top: -100px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 460px;
  height: 500px;
  margin: auto;
}
h1 {
  margin: 0;
  text-align: center;
}
h1 + span {
  display: block;
  color: #fff;
  text-align: center;
}
.version {
  display: block;
  color: #fff;
  text-align: center;
}
.box {
  margin: 0 auto;
  padding: 60px 0 20px;
  position: relative;
  text-align: center;
  line-height: 1.5;
  background-color: #031845;
}
.alert {
  margin-bottom: 10px;
  color: #f00;
  font-weight: bold;
}
.fields {
  width: 276px;
  text-align: center;
  margin: 30px auto 0;
  padding: 0 0 20px;
}
#account,
#password {
  width: 254px;
  padding: 8px 10px;
  border: 1px solid #bbb;
  background-color: #f6f6f6;
  font-size: 120%;
  vertical-align: middle;
}
.fields input:first-child {
  margin-bottom: 10px;
}
.submitters {
  padding: 0px 0px 40px 0px;
  text-align: center;
}
.submitters .login {
  width: 276px;
  height: 47px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-size: 120%;
  padding: 1px 6px;
  background-color: #5E76A8;
  border: none;
}
.password_reminder {
  padding: 0px 20px 20px 20px;
  text-align: right;
}
.password_reminder a {
  color: #fff;
}
.copyright {
  padding: 20px 0px;
  text-align: center;
  color: #c1c1c1;
}
.copyright img {
  padding-left: 10px;
  vertical-align: middle;
}